/*!
 * Custom CSS rules for Clock.
 * 
 * Copyright 2022 Martin Bo Kristensen Grønholdt
 *
 */
.inverted
{
	color: rgb(230, 220, 220);
	background: rgb(28, 28, 28);
}

.header
{
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.footer
{
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}

.main
{
	padding: 2em 1em;
}

.license
{
	padding-left: 1em;
}

.grey
{
	color: dimgrey;
}

.message
{
	padding:1.5em;
	margin-top: 1em;
	background:#def;
	border-left:5px solid #59d
}

.error
{
	border-color: #e44; 
	background: #fdd;
}

.success
{
	border-color: #2d2;
	background: #dfd;
}

input[type=text]
{
 	box-sizing: border-box;
}

input[type=time]
{
	box-sizing: border-box;
}

.row
{
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.column
{
	float: left;
}

.left, .right 
{
	width: 25%;
}

.middle 
{
	width: 50%;
}

/* Clear floats after the columns */
.row:after 
{
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
	width: 100%;
}
} 